/*Banner*/
#banner {
    width: 100%;
    height: 740px;
    position: relative;
    background-size: cover;
}

#banner-slide {
    width: 650px;
    height: 350px;
    position: absolute;
    top: 25%;
}
.slide-item {
    width: 450px;
    margin: auto;
    text-align: left;
}
.slide-item h2 {
    font-size: 55px;
    margin-bottom: 0;
    text-shadow: 2px 2px 5px #1c1c1c;
    color: #FFFFFF;
}
.slide-item button {
    background-color: #DE0607;
    border: none;
    border-radius: 8px;
    padding: 15px 30px;
    margin-top: 20px;
    box-shadow: 2px 2px 5px #1c1c1c;
}
.slide-item p{
    font-weight: 400;
    font-size:16px;
    font-family: 'Roboto',sans-serif;
    color: #fff
}
.slide-item button a {
    color: #FFFFFF;
    font-weight: 600;
    text-decoration: none;
}

html,
body {
    position: relative;
    height: 100%;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination-vertical.swiper-pagination-bullets, .swiper-vertical>.swiper-pagination-bullets {
    right: 0;
    left: 30px;
    top: 60%;
}
.swiper-pagination-bullet {
    background-color: #FFFFFF !important;
    opacity: 1 !important;
}
.swiper-pagination-bullet-active  {
    transform: scale(1.8);
    background-color: #DE0607 !important;
}
.swiper-pagination-bullet {
    margin-top: 20px !important;
}

/*Banner-end*/

/*Filter*/
#filter-container {
    margin:100px 100px 20px 100px;
}
#filter-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filter-title-item {
    color: #FFFFFF;
    margin-right: 40px;
    text-align: left;
}
.filter-title-item span {
    opacity: 0.65;
    font-size: 12px;
}
.filter-title-item p{
    display: block;
}
.filter-title-item svg{
    margin-left: 4px;
}
.filter-title-item p,.filter-title-item span {
    font-family: "Roboto Thin",sans-serif;
}
.filter-title-icon span{
    color: #FFFFFF;
    font-size: 25px;
    margin-left: 20px;
}

.comic {
    display: flex;
    flex-wrap: wrap;
    column-gap: 29px;
    row-gap: 5px;
    margin-top: 30px;
}
.comic-item {
    text-decoration: none;
}
.comic-item img {
    display: block;
    border-radius: 15px;
    width: 240px;
    height: 338.71px;
    object-fit: cover;
}
.comic-item h4 {
    color: #FFFFFF;
    font-family: "Roboto Medium",sans-serif;
    width: 240px;
    margin: 25px 0;
}
.comic.comic-2 {
    column-gap: 23px;
    row-gap: 5px;
}
.comic-item.comic-item-2 img{
    width: 200px;
    height: 300px;
}
.comic-item.comic-item-2 h4 {
    width: 200px;
}
/*Filter-end*/


/*Top Manga*/
#TopComic-container{
    margin:0 100px 100px 100px;
}
.comic-top {
    display: flex;
    flex-wrap: wrap;
    column-gap: 59px;
    row-gap: 35px;
}
.comic-top-item .comic-top-item-img {
    height: 260px;
    width: 400px;
    border-radius: 15px;
    position: relative;
}
.comic-top-item-img.comic-top-item-img-2 {
    width: 630px;
    height: 320px;
}
.comic-top-item-img h4 {
    color: #FFFFFF;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px 20px;
    width: 100%;
    background: linear-gradient(180deg,transparent, #171717);
    display: block;
    border-radius: 15px;
    font-family: "Roboto Bold",sans-serif;
}
/*Top Manga-end*/

/*Button back top*/
#ButtonBackTop {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #DE0607;
    position: fixed;
    bottom: 30px;
    right: 20px;
}
#ButtonBackTop a {
    color: #FFFFFF;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    font-weight: 600;
}
/*Button back top end*/

/*New*/
#NewUpdate-container {
    margin: 0 100px 60px 100px;
}
/*New-end*/

/*TopBoard*/
#TopBoard-container {
    margin: 0 100px 100px 100px;
}
.TopBoard {
    display: flex;
    flex-wrap: wrap;
    column-gap: 59px;
}
.TopBoard.TopBoard-2 {
    column-gap: 14px;
    margin-top: 30px;
}
.TopBoard-item {
    width: 630px;
    height: 320px;
    display: flex;
    align-items: center;
    background-color: #2D2D2D;
    border-radius: 24px;
}
.TopBoard-item.TopBoard-item-2 {
    width: 430px;
    height: 220px;
}
.TopBoard-top, .TopBoard-img {
    height: inherit;
}
.TopBoard-top {
    position: relative;
    width: 90px;
    display: flex;
    align-items: center;
}
.TopBoard-top img {
    filter: invert(1);
    width: 90px;
    height: 90px;
    position: relative;
}
.TopBoard-top.TopBoard-top-2 {
    width: 50px;
}
.TopBoard-top.TopBoard-top-2 img {
    width: 50px;
    height: 50px;
}
.TopBoard-top span {
    color: #FFFFFF;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-110%);
}
.TopBoard-top.TopBoard-top-2 span {
    font-size: 10px;
}
.TopBoard-img img {
    width: 200px;
    height: 100%;
    display: block;
    object-fit: cover;
}
.TopBoard-img.TopBoard-img-2 img {
    width: 150px;
}
.TopBoard-text {
    color: #FFFFFF;
    padding: 25px;
}
.TopBoard-text p {
    opacity: 0.7;
    font-size: 14px;
}
.TopBoard-text.TopBoard-text-2{
    padding: 15px;
}
.TopBoard-text.TopBoard-text-2 h3{
    font-size: 16px;
}
.TopBoard-text.TopBoard-text-2 p{
    font-size: 12px;
}
/*TopBoard-end*/


/*Blog*/
#blog-container {
    margin: 0 100px 50px 100px;
}
.blog-content {
    width: 100%;
}
.blog-content-item {
    display: flex;
    background-color: #2d2d2d;
    padding: 30px;
    border-radius: 15px;
    align-items: center;
    margin-bottom: 50px;
}
.blog-content-item .blog-content-img {
    display: block;
    width: 564px;
    height: 329px;
    object-fit: cover;
    border-radius: 15px;
}
.blog-content-item-text {
    padding: 40px;
    color: #FFFFFF;
    width: 695px;
}
.blog-content-item-text h3 {
    font-size: 25px;
    margin: 0;
}
.blog-content-item-text span {
    font-size: 14px;
    font-family: "Roboto Medium",sans-serif;
    margin: 10px 0 20px 0;
    display: block;
    opacity: 0.8;
}
.blog-content-item-text p {
    display: block;
    margin: 0;
    opacity: 0.6;
    font-size: 15px;
    font-family: "Roboto Medium",sans-serif;
}
.blog-content-item-text button {
    border: none;
    background-color: #DE0607;
    padding: 12px 30px;
    border-radius: 8px;
    margin-top: 80px;
}
.blog-content-item-text button a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 600;
}
/*Blog end*/



