.top-anime h3{
    color: #fff;
    font-size:40px;
    margin:8px 0;
}
.top-anime p{
    margin:8px 0;
    color: #DE0607;
    font-size:24px;
    font-weight:bold;
}
.comic-container{
    gap: 60px;
    display: flex;
}
.top-manga{
    margin-top: 30px;
    background-color: #2D2D2D;
    border-radius: 10px;
    padding: 28px;
}
.top-manga-title{
    margin-bottom: 24px;
    width: 320px;
    display: flex;
    justify-content: space-between;
}
.top-manga-title h3{
    color: #fff;
    position: relative;
}
.top-manga-title h3::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    background-color: #fff;
    bottom: -8px;
    left: 0;
}
.time-frame{
    align-items: center;
    margin: 0;
    gap: 12px;
    padding: 0;
    list-style: none;
    display: flex;
}
.time-frame li{
    display: flex;
    align-items: center;
}
.time-frame a{
    color: #C1C1C1;
    font-family: 'Roboto', sans-serif;
   text-decoration: none;
}
.time-active a{
    color: #fff;
    font-weight: 500;
}
.item-top-manga a{
    color: #fff;
    text-decoration: none;
    gap: 24px;
    display: flex;
}
.list-top-manga{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0;
}
.item-top-manga img{
    width: 92px;
    height: 116px;
    border-radius: 10px;
}
.info-top-manga{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pub_year,.manga-author{
    color: #C1C1C1;
    font-size: 14px;
}
.count-views{
    color: #DE0607;
    font-weight: bold;
}
.view-more{
    border-radius: 10px;
    background-color: #DE0607;
    border: none;
    outline: none;
    padding: 12px 24px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin: 0 auto;
    text-decoration: none;
}
.box-slide-new{
    margin: 100px 100px 20px 100px;
    height: 700px;
}
.swiper-slide-new{
    background-repeat: no-repeat;
    background-size: cover !important;
    border-radius: 10px;
}
.container{
    margin: 100px 100px 20px 100px;
}
.box-final{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 100px;
}
.box-final a{
    border-radius: 10px;
    padding: 12px;
    text-decoration: none;
    color: #fff;
    background-color: #DE0607;
}
/*  */
.comic{
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100%;
    row-gap: 20px;
}
.comic-item-img img{
    border-radius: 10px;
    width: 100%;
    height: 286px;
}