<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/set.css">
    <link rel="stylesheet" href="./css/login.css">
</head>
<body style="background-image: url('./img/login.png');">
    <div class="login-wrapper">
        <div class="login">
            <img class="login-logo" src="./img/svg/logo.svg" alt="">
            <h2>Đăng nhập tài khoản của bạn</h2>
            <ul class="connects">
                <li>
                    <a href=""><img src="./img/svg/facebook.svg" alt=""></a>
                </li>
                <li>
                    <a href=""> <img src="./img/svg/gg.svg" alt=""></a>
                </li>
                <li>
                    <a href=""><img src="./img/svg/tw.svg" alt=""></a>
                </li>
            </ul>
            <p class="connects-note">Hoặc sử dụng email của bạn để đăng kí</p>
            <form class="form-user">
                <label class="label-form" for="email">Email</label>
                <input class="input-form" type="email" name="email" id="email" placeholder="tuan23112002@gmail.com">
                <label class="label-form" for="password">Mật khẩu</label>
                <input class="input-form" type="password" name="username" id="password" placeholder="Password"> 
                <div class="actions">
                    <button class="action-login" href="#">Đăng nhập</button>
                    <a class="action-register" href="#">Đăng kí</a>
                </div>
                
            </form>
           
        </div>   
    </div>
</body>
</html>